<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="bg_light_color">
        <div class="app-container">
            <nav>
                <input type="checkbox" name="nav_toggle" id="nav_toggle" class="nav-toggle">
                <label for="nav_toggle" class="nav-toggle-label">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
                <ul class="nav-links">
                    <li class="nav-link {{ app.request.attributes.get('_route') == "app_index" ? "active" }}"><a href="{{ path("app_index") }}">Accueil</a></li>
                    <li class="nav-link {{ app.request.attributes.get('_route') == "app_sophrologie" ? "active" }}"><a href="{{ path("app_sophrologie") }}">Sophrologie</a></li>
                    <li class="nav-link {{ app.request.attributes.get('_route') == "app_seances" ? "active" }}"><a href="{{ path("app_seances") }}">Déroulement des séances</a></li>
                    <li class="nav-link {{ app.request.attributes.get('_route') == "app_qui_suis_je" ? "active" }}"><a href="{{ path("app_qui_suis_je") }}">Qui suis-je</a></li>
                    <li class="nav-link {{ app.request.attributes.get('_route') == "app_tarifs" ? "active" }}"><a href="{{ path("app_tarifs") }}">Tarifs</a></li>
                    <li class="nav-link {{ app.request.attributes.get('_route') == "app_contact" ? "active" }}"><a href="{{ path("app_contact") }}">Contact</a></li>
                </ul>
            </nav>
            {% block body %}{% endblock %}
            <footer>
                <a href="" class="fw_light">mentions légales</a>
            </footer>
        </div>
    </body>
</html>
