{% extends 'content_layout.html.twig' %}

{% block title %}Contact | Anne Avenel Dubois | Saint-Aignan-Sur-Ry{% endblock %}
{% block image %}{{ absolute_url(asset('build/images/group_teenager.jpg')) }}{% endblock %}

{% block content_title %}Me contacter{% endblock %}

{% block content %}
    <section class="p-3 form-section">
        {{ form_start(form) }}
            <div class="row">
                <div class="form-group col-12 col-lg-6">
                    {{ form_label(form.name, null, {'label_attr': {'class': 'd-block text_lg text-start mt-3 mb-2 text-uppercase'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'text_lg'}}) }}
                    {{ form_errors(form.name) }}
                </div>
                <div class="form-group col-12 col-lg-6">
                    {{ form_label(form.email, null, {'label_attr': {'class': 'd-block text_lg text-start mt-3 mb-2 text-uppercase'}}) }}
                    {{ form_widget(form.email, {'attr': {'class': 'text_lg'}}) }}
                    {{ form_errors(form.email) }}
                </div>
            </div>
            <div class="form-group">
                {{ form_label(form.subject, null, {'label_attr': {'class': 'd-block text_lg text-start mt-3 mb-2 text-uppercase'}}) }}
                {{ form_widget(form.subject, {'attr': {'class': 'text_lg'}}) }}
                {{ form_errors(form.subject) }}
            </div>
            <div class="form-group">
                {{ form_label(form.message, null, {'label_attr': {'class': 'd-block text_lg text-start mt-3 mb-2 text-uppercase'}}) }}
                {{ form_widget(form.message, {'attr': {'class': 'text_lg', 'rows': 10}}) }}
                {{ form_errors(form.message) }}
            </div>
            <div class="form-group mt-2 mt-lg-4">
                <button type="submit" class="fw_bold text_lg text-uppercase">Envoyer</button>
            </div>
        {{ form_end(form) }}
    </section>
    <section class="info-section">
        <div class="p-4 info-container">
            <div>
                <div>
                    <span class="fw_bold text_xl">Adresse</span>
                    <p>
                        140 Rue Sainte-Anne<br>
                        76 116 SAINT AIGNAN SUR RY
                    </p>
                </div>
            </div>
            <div class="my-4 my-lg-0">
                <div>
                    <span class="fw_bold text_xl">Téléphone</span>
                    <p>06 20 81 82 68</p>
                </div>
            </div>
            <div>
                <div>
                    <span class="fw_bold text_xl">Email</span>
                    <p>anne.avenel.sophrologie@laposte.net</p>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.14.1/build/ol.js"></script>
        <div id="map" class="map w-100"></div>
        <script type="text/javascript">
            var map = new ol.Map({
                target: 'map',
                layers: [
                    new ol.layer.Tile({
                        source: new ol.source.OSM()
                    })
                ],
                view: new ol.View({
                    center: ol.proj.fromLonLat([1.351260, 49.503270]),
                    zoom: 13
                })
            });

            const markers = new ol.layer.Vector({
                source: new ol.source.Vector(),
                style: new ol.style.Style({
                    image: new ol.style.Icon({
                        anchor: [0.5, 1],
                        src: '{{ asset('build/images/marker.png') }}',
                        scale: 0.5
                    })
                })
            });
            map.addLayer(markers);

            var marker = new ol.Feature(new ol.geom.Point(ol.proj.fromLonLat([1.351260, 49.503270])));
            markers.getSource().addFeature(marker);

        </script>
    </section>
{% endblock %}
