{% extends 'content_layout.html.twig' %}

{% block title %}Tarifs | Anne Avenel Dubois | Saint-Aignan-Sur-Ry{% endblock %}

{% block content_title %}Tarifs{% endblock %}

{% block content %}
    <section class="p-3 main-section">
        <h2>Consultations sur rendez-vous</h2>
        <p>
            <span class="text-decoration-underline fw_bold">Séances individuelles</span><br>
            45 euros pour les adultes et les adolescents<br>
            35 euros pour les enfants (école élémentaire)
        </p>
        <p>
            <span class="text-decoration-underline fw_bold">Séances de groupe</span><br>
            Voir aux pages concernées :
        </p>
        <div>
            <a class="link link-fill my-3 mx-md-3" href="{{ path('app_seances', {type: 'individual'}) }}"><span>Séances individuelles</span></a>
            <a class="link link-fill my-3 mx-md-3" href="{{ path('app_seances', {type: 'group_adult'}) }}"><span>Séances de groupe pour les adultes</span></a>
            <a class="link link-fill my-3 mx-md-3" href="{{ path('app_seances', {type: 'group_teenager'}) }}"><span>Séances de groupe pour les adolescents</span></a>
            <a class="link link-fill my-3 mx-md-3" href="{{ path('app_seances', {type: 'group_exam'}) }}"><span>Séances de groupe pour préparer un examen</span></a>
            <a class="link link-fill my-3 mx-md-3" href="{{ path('app_seances', {type: 'group_kid'}) }}"><span>Séances de groupe pour les enfants</span></a>
        </div>
    </section>
    <section class="p-3 img-text-section d-lg-flex flex-lg-row align-items-stretch">
        <div class="col-lg-6 d-lg-flex justify-content-center align-items-center">
            <div class="content-container">
                <h2 class="text-lg-start">Durée des séances</h2>
                <p class="text-lg-start">
                    <strong>Adultes</strong> : 1 heure<br>
                    <strong>Adolescents</strong> : 45 minutes à 1 heure<br>
                    <strong>Enfants</strong> : 30 à 45 minutes
                </p>
                <p class="text-lg-start">
                    Certaines mutuelles remboursent les séances individuelles de sophrologie, n'hésitez pas à vous rapprocher de la vôtre pour plus d'informations.
                </p>
                <p class="text-lg-start">
                    Membre de la <span class="fst-italic">Chambre Syndicale de Sophrologie</span>, je respecte le code de déontologie de la sophrologie : je m'engage donc à vous accompagner avec bienveillance et en toute confidentialité...
                </p>
            </div>
        </div>
        <div class="col-lg-6 d-lg-flex justify-content-center align-items-center">
            <div class="mt-5 mt-lg-0 picture-container">
                <img src="{{ asset('build/images/tarifs.jpg') }}" alt="">
            </div>
        </div>
    </section>
    <section class="pb-5 m-lg-auto text-lg-center">
        <span class="d-block mb-4">Envie d'offrir une séance ?</span>
        <a href="{{ asset('build/images/carte_cadeau.png') }}" class="link link-fill" download>Télécharger la carte cadeau</a>
    </section>
{% endblock %}
